numpy==1.24
onnxruntime==1.20.1
python-dotenv==1.0.1
PyYAML==6.0.2
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
wandb==0.18.7
pytest==8.3.4
deepspeed==0.17.0
opencv-python
protobuf
absl-py
onnx
dvc[s3]
carbontracker
matplotlib
scikit-learn
